@model CSBlog.Models.User.User

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>Create a User</h2>

<form method="post" asp-controller="User" asp-action="Register">
  <fieldset>
    <legend>User Fields</legend>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="FirstName" class="col-form-label mt-4" for="first-name"></label>
      <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name" id="first-name">
      <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label asp-for="LastName" class="col-form-label mt-4" for="last-name"></label>
      <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name" id="last-name">
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="UserEmail" class="col-form-label mt-4" for="email"></label>
      <input type="email" asp-for="UserEmail" class="form-control" placeholder="E-mail" id="email">
      <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Password" class="col-form-label mt-4" for="password"></label>
      <input type="password" asp-for="Password" class="form-control" placeholder="Password" id="password">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Avatar" for="avatar" class="form-label mt-4"></label>
      <input asp-for="Avatar" class="form-control" type="file" id="avatar">
      <span asp-validation-for="Avatar" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </fieldset>

</form>