@model CSBlog.Models.Blog.Article

@{
  ViewBag.Title = "Blog Articles";
  Layout = "_Layout";
}

<div class="text-center">
  <h1 class="display-4">All Blog Posts</h1>
  <p>Add a new <a  asp-area="" asp-controller="Article" asp-action="Create">Article</a>.</p>
</div>
