@model CSBlog.Models.Blog.Tag
@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}
<h2>New tag</h2>
<form method="post" asp-controller="Tag" asp-action="Create">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <fieldset>
    @* <legend>Tag Fields</legend> *@
    <div class="form-group">
      <label asp-for="@Model.TagName" for="tag" class="form-label mt-4"></label>
      <input type="text" asp-for="@Model.TagName" class="form-control" placeholder="Add a new tag" id="tag">
      <span asp-validation-for="@Model.TagName" class="text-danger " ></span>
    </div>
    <button type="submit" class="btn btn-primary my-3">Create</button>
  </fieldset>

</form>