@model CSBlog.Models.Blog.Tag

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>All tags</h2>
<div class="text-center">
  <h1 class="display-4">All Blog Tags</h1>
  <p>Add a new <a  asp-area="" asp-controller="Tag" asp-action="Create">Tag</a>.</p>
</div>
