@model CSBlog.Models.User.UserRole

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}


<h2>New Role</h2>
<form method="post" asp-controller="Role" asp-action="Create">
  <fieldset>
    <legend>Role Fields</legend>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Role" class="col-form-label mt-4" for="user-role"></label>
      <input type="text" asp-for="Role" class="form-control" placeholder="User Role Title" id="user-role">
      <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </fieldset>

</form>