@model CSBlog.Models.User.UserRole

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}


<div class="text-center">
  <h1 class="display-4">All Blog User Roles</h1>
  <p>Add a new <a  asp-area="" asp-controller="Role" asp-action="Create">User Role</a>.</p>
</div>
