@model CSBlog.Models.Blog.Comment

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>All Comments</h2>
<div class="text-center">
  <h1 class="display-4">All Blog Comments</h1>
  <p>Add a new <a  asp-area="" asp-controller="Comment" asp-action="Create">Comment</a>.</p>
</div>
